.metadata
bin /
tmp /
* .tmp
* .bak
* .swp
* ~ .nib
local.properties
.settings /
.loadpath
.recommenders

# Локально сохраненные "конфигурации запуска Eclipse"
* .launch
# Обработчик аннотаций Java (APT)
.factorypath

# STS (набор инструментов Spring)
.springBeans

